<img src="/static/logo.jpg" alt="a200" style="width: 720px;height: 360px;"> 
<h1>AUTOMOTIVE</h1>
<H2>BIG BUSINESS</H2>
<form action="/search" method="post">
    <input type="text" name="query" placeholder="Search by brand or model">
    <button type="submit">Search</button>
</form>

<form action="/add" method="post" enctype="multipart/form-data">
    <input type="text" name="brand" placeholder="brand name" required>
    <input type="text" name="name" placeholder="car name" required>
    <input type="number" name="year" placeholder="year" required>
    <input type="number" name="price" placeholder="price" required>
    <input type="file" name="img" accept="image/*" required>
    <button type="submit">Add Car</button>
</form>
<hr>

<h1>All Cars</h1>

{% if cars %}
    <ul>
        {% for car in cars %}
            <li>
                <img src="{{ url_for('static', filename=car.img) }}" alt="{{ car.name }}" style="width:300px; vertical-align: middle; margin-right:10px;">
                {{ car.name }} - {{ car.brand }} - {{ car.year }} - ${{ car.price }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No cars found.</p>
{% endif %}


