<div class="header">
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo.jpg') }}" alt="a200" style="width: 300px;">
    </div>
    <div class="header-title">
        <h1>AUTOMOTIVE - BIG BUSINESS</h1>
    </div>
    <div class="header-search">
        <form id="searchForm">
            <input type="text" id="query" placeholder="Search...">
            <button class="btn-search" type="submit">Search</button>
        </form>
    </div>
</div>

<div id="results"></div>

<hr>

<form id="carForm" class="add-car-form" enctype="multipart/form-data">
    <div class="input-control">
        <label for="brand">Brand Name:</label>
        <input type="text" id="brand" name="brand" required>
    </div>
    <div class="input-control">
        <label for="name">Car Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div class="input-control">
        <label for="year">Production Year:</label>
        <input type="number" id="year" name="year" required>
    </div>
    <div class="input-control">
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>
    </div>
    <div class="input-control">
        <label for="imgInput">Car Photo:</label>
        <input type="file" id="imgInput" name="img" accept="image/*" required>
    </div>
    <div class="input-control">
        <button class="btn-add" type="submit">Add Car</button>
    </div>
</form>

<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</link>